<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ friendName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center>
    <br>
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
        <div *ngIf="!isLoading">
          <ion-list *ngFor="let message of loadedMessages" class="itemList" no-padding>
            <ion-col size="6" *ngIf="message.fromUser === user_ID">
              <ion-item text-center>
                <ion-label>
                  <h4>{{ message.message }}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="6" *ngIf="message.fromUser !== user_ID">
              <ion-item> 
                <ion-label>
                  <h4>{{ message.message }}</h4>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-list>
        </div>
    </ion-row>
  </ion-grid>
  <ion-grid style="position: fixed;bottom: 0;width:100%" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="10">
        <form [formGroup]="form">
          <ion-input [(ngModel)]="message" formControlName="message" style="border-style: solid;border-width: 1px;"></ion-input>
        </form>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendMessage()" [disabled]="!form.valid">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
