<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ friendName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="attach"></ion-icon>
        <input (change)="uploadImage($event)" type="file" class="image-upload" accept="/*">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" text-center>
    <br>
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item *ngFor="let message of messagesBetweenUsers">
            <div *ngIf="message.message !== 'Download FILE#*-199'">
              <ion-label *ngIf="message.emailSent === myEmail" text-right> {{ message.message }} </ion-label>
              <ion-label *ngIf="message.emailSent !== myEmail" text-left> {{ message.message }} </ion-label>
            </div>
            <div *ngIf="message.message === 'Download FILE#*-199'">
              <p>File attached:</p>
              <ion-button (click)="downloadFileUrl(message.documentURL)">
                Download
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <div class="box">
      <div class="preview">
        <img *ngIf="imageUrl" [src]="url" alt="">
      </div>
    </div>
    <br>
    <br>
    <ion-row style="bottom: 0px;position:fixed; width:95%">
      <ion-col size="8">
        <form [formGroup]="form">
          <ion-input [(ngModel)]="message" formControlName="message" style="border-style: solid;border-width: 1px;"></ion-input>
        </form>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-button (click)="sendMessage()" style="width:100%; height:100%">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="sendVoiceNote()" style="width:100%; height:100%">
          <ion-icon name="mic"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
